body {
    font-family: Arial;
    background-color: #eef5ff;
    text-align: center;
}

form input, button {
    padding: 8px;
    margin: 5px;
}

.card {
    background: white;
    padding: 10px;
    margin: 10px auto;
    width: 300px;
    border-radius: 5px;
}
